.footCont {
  color: rgb(255, 255, 255);
  position: sticky;
  width: 100%;
}
.footAll {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  background: linear-gradient(to left, rgba(2, 3, 50, 0.9), rgba(2, 53, 5, 0.4)),
    url("./images/lagosHouse.jpg");
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footIn {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footIn section {
  /* border: 1px solid red; */
  /* display: flex; */
  align-items: center;
}
.logosection,
.contactjos {
  width: 30vw;
  min-width: 200px;
}
.linkss,
.program {
  min-width: 150px;
  width: 15vw;
  align-items: center;
  justify-content: center;
}
.linkss ul li a:hover {
  color: blue;
  font-size: 1.3em;
}

.logosection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logosection .socialicons ul {
  display: flex;
  margin: 3px 0;
}
.footerimage {
  width: 90%;
  min-width: 250px;
}
.logosection .socialicons ul li {
  padding: 5px 10px;
  font-size: 1.5em;
  color: #eee;
}

.footIn ul li {
  padding: 20px 10px;
  list-style-type: none;
  font-size: 1rem;
  font-family: "Akaya";
  color: white;
  text-align: center;
}
.footIn ul li a {
  font-family: "Akaya";
  color: white;
}

/* #icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.first li {
  margin: 2px 0;
}
.first li:hover {
  background-color: navy;
  width: 60px;
} */

/* home */
.unityabjdiv:hover {
  .roundworld {
    background-color: #2a2a2a;
  }
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}
.bg {
  background: linear-gradient(to left, rgba(2, 3, 50, 0.9), rgba(2, 53, 5, 0.4)),
    url("./images/Edutainment.jpg");
  /* background-image: url('./images/Edutainment.jpg'); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
.bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* home */
/* home slider  */
.bigslider {
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.bigslider .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.bigslider .list .bigitem {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  display: none;
}
.bigslider .list .bigitem.visible {
  display: block;
}
.bigslider .list .bigitem.hidden {
  display: none;
}

.bigslider .list .bigitem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bigslider .list .bigitem .bigcontent {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.bigslider .list .bigitem .bigcontent .maintitle,
.bigslider .list .bigitem .bigcontent .subtitle {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 1s linear 1 forwards;
  animation-delay: 0.4s;
}
.bigslider .list .bigitem .bigcontent .subtitle {
  color: royalblue;
}
.bigslider .list .bigitem .bigcontent .desc {
  font-size: 14px;
  color: #010401;
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 1s linear 1 forwards;
  animation-delay: 0.6s;
  width: 70%;
}
.bigslider .list .bigitem .bigcontent .bot {
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: #2a2a2a;
  color: #eee;
  line-height: 20px;
  font-size: 20px;
  padding: 8px 17px;
  border-radius: 8px;
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 1s linear 1 forwards;
  animation-delay: 1.1s;
}
.bigslider .list .bigitem .bigcontent .seemore {
  margin-top: 20px;
  animation-delay: 0.8s;
}
.bigslider .list .bigitem .bigcontent .seemore button {
  border: none;
  background-color: #eee;
  padding: 7px 15px;
  font-family: "bree";
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.4s;
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 1s linear 1 forwards;
}
.bigslider .list .bigitem .bigcontent .seemore button:hover {
  background-color: royalblue;
  color: #eee;
}
.bigslider .list .bigitem .bigcontent .bot:hover {
  background-color: royalblue;
  color: #eee;
  transform: scaleX(1.1);
  transition: 0.4s;
}
/* animations */
.bigslider .list .bigitem:nth-child(1) {
  z-index: 1;
}
.bigslider .list .bigitem img {
  transform: scale(1);
  filter: blur(3px);
  opacity: 0.3;
  animation: showimg 3s 1s linear 1 forwards;
}
@keyframes showimg {
  to {
    transform: scale(1.05);
    filter: blur(0);
    opacity: 0.7;
  }
}

.bigslider .list .bigitem:nth-child(1) .bigcontent .maintitle,
.bigslider .list .bigitem:nth-child(1) .bigcontent .subtitle,
.bigslider .list .bigitem:nth-child(1) .bigcontent .desc,
.bigslider .list .bigitem:nth-child(1) .bigcontent .seemore,
.bigslider .list .bigitem:nth-child(1) .bigcontent .bot {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showcontent 0.5s 1s linear 1 forwards;
}
@keyframes showcontent {
  to {
    transform: translateY(0px);
    filter: blur(0);
    opacity: 1;
  }
}
.bigslider .list .bigitem:nth-child(1) .bigcontent .maintitle {
  animation-delay: 0.4s;
  transition: 0.4s;
}
.bigslider .list .bigitem:nth-child(1) .bigcontent .subtitle {
  animation-delay: 0.6s;
}
.bigslider .list .bigitem:nth-child(1) .bigcontent .desc {
  animation-delay: 0.8s;
}
.bigslider .list .bigitem:nth-child(1) .bigcontent .seemore {
  animation-delay: 1.1s;
}
.bigslider .list .bigitem:nth-child(1) .bigcontent .bot {
  animation-delay: 1.4s;
}

/* animation for next image */
/* .bigslider .list .bigitem:nth-child(1) .bigcontent .maintitle,
.bigslider .list .bigitem:nth-child(1) .bigcontent .subtitle,
.bigslider .list .bigitem:nth-child(1) .bigcontent .desc,
.bigslider .list .bigitem:nth-child(1) .bigcontent .seemore,
.bigslider .list .bigitem:nth-child(1) .bigcontent .bot {
  animation: contentout 0.5s 1s linear 1 forwards;
} */
@keyframes contentout {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 1;
  }
}

@media screen and (max-width: 670px) {
  .bigslider .list .bigitem .bigcontent {
    padding-right: 0;
  }
  .bigslider .list .bigitem .bigcontent .maintitle {
    font-size: 30px;
  }
}

.slidehead {
  overflow: hidden;
  height: 90vh;
  /* border: 4px solid rgb(206, 4, 4); */
  width: 100%;
}
.aslide {
  /* roeijoldnodfopdksd f deactivated slide class by adding a in fron of it*/
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  position: absolute;
  /* right: 100%; */
  /* transform: translate(200px); */
  animation-name: move, fade;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  transition: all 1s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide .active {
  opacity: 1;
  right: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    top: 0px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
#imageCont {
  height: 100vh;
  border: 1px solid black;
}
/* home slider  */

/* history */
.histCont {
  padding: 20px;
  font-size: 20px;
  text-align: justify;
  margin: 4vw 10vw;
  color: #333;
  box-shadow: 0px 0px 12px;
}

/* history */

#homeCap {
  text-shadow: teal;
  color: rgba(224, 41, 38, 0.9);
  text-align: center;
  font-size: 2.2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  font-family: "akaya";
  font-weight: 1000;
}

/* services */

.servid {
  width: 100%;
  height: 90%;
  padding-bottom: 30px;
  object-fit: cover;
}
.slide-container {
  overflow: hidden;
  /* display: flex; */
  /* width: 100vw; */
  /* height: 90vh; */
  /* flex-direction: column; */
}
.each-slide img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.zlide-container {
  position: relative;
  width: 100%;
  height: 90vh; /* Adjust based on your needs */
  overflow: hidden;
}

.zoom-right {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoomRight 20s ease-out infinite;
}

@keyframes zoomRight {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.hlide-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hlide-wrapper {
  display: flex;
  width: 100%;
  transition: transform 1s ease-in-out;

  justify-content: center;
  align-items: center;
}

.hlide {
  /* border: 1px solid rgb(206, 4, 4); */
  flex: 1 0 30%;
  max-width: 30%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  position: relative;
  transition: all 300ms ease-in;
  animation: slideIn 1s ease-in-out;
}

.hlide img {
  width: 100%;
  height: auto;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.edu {
  /* border: 1px solid black; */
  padding-bottom: 200px;
}
.edu h3 {
  color: rgb(5, 39, 119);
}
.servactivity {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* .second{
   background: linear-gradient(to left, rgba(2, 3, 50, 0.9), rgba(2, 53, 5, 0.4)),
    url("./images/UNITED.jpg");
  height: 250px;
  width: 250px;
  } */
.servbg {
  border-radius: 20px;
  height: 150px;
  width: 262px;
  background-image: url("./images/boxf1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  transition: all 0.4s;
  opacity: 0.9;
  margin: 20px;
  padding: 10px;
}
.links {
  position: absolute;
  bottom: -9px;
  right: 0px;
  font-size: 2em;
}
.links:hover {
  transform: scale(1.2);
  color: blue;
}
.servbg2 {
  position: relative;
  border-radius: 20px;
  height: 150px;
  border: 1px solid rgb(147, 144, 144);
  width: 262px;
  background-image: url("./images/boxc2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s;
  opacity: 0.9;
  margin: 20px;
  padding: 10px;
}
.servbg:hover {
  opacity: 0.5;
  transform: translateY(20px);
  background-image: url("./images/boxe1.jpg");
}
.servbg2:hover {
  opacity: 0.5;
  transform: translateY(20px);
  background-image: url("./images/boxe1.jpg");
}
.servbg p,
.servbg2 p {
  color: rgb(255, 255, 255);
  /* font-weight: bold; */
  text-shadow: 2px 2px 6px #0c12b4;
}
.servbg h3,
.servbg2 h3 {
  color: rgb(250, 212, 0);
}

.serveP {
  padding: 30px;
  font-size: 18px;
  text-align: justify;
  margin: 0 5%;
}
.serveListCont {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.serveList h3 {
  font-size: 0.9em;
}
.serveList p {
  /* text-align: center; */
  font-size: 1em;
}
.edufirst {
  display: flex;
  flex-direction: row;
}
.edufirst li {
  /* border: 1px solid rgb(38, 0, 255); */
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  overflow-x: hidden;
  /* background-color: aqua; */
  margin: 2.5vw;
  list-style-type: none;
  text-align: center;
  box-shadow: 2px 4px 6px rgb(140, 140, 247);
}

.bone {
  background-color: rgb(218, 241, 173);
}
.bone:hover {
  transform: scale(1.1);
}
/* .bfour:hover {
  transform: rotate(10deg);
}
.bthree {
  background-color: rgb(121, 238, 226);
}
.bthree:hover {
  transform: scale(1.1);
}
.bfour {
  background-color: rgb(87, 124, 247);
}
.btwoo:hover {
  transform: rotate(-10deg);
}
.btwoo {
  background-color: rgb(87, 247, 111);
} */

/* services */

/* home body */
section h2 {
  font-family: "akaya";
  color: rgb(5, 5, 132);
  text-align: center;
  font-size: 2em;
  padding: 10px 0 20px 0;
}
section p {
  color: rgb(43, 43, 43);
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
}
.countercont {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  /* flex-direction: column; */
  /* width: 100vw; */
  align-items: center;
  justify-content: center;
}
.prog {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #ddd;
  width: 40%;
  padding-bottom: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.prog .countnum {
  font-size: 2.8rem;
  justify-content: center;
  font-family: "Courget";
  color: rgb(5, 5, 132);
  height: 30%;
  display: flex;
  flex-direction: row;
}
.prog h4 {
  text-align: center;
  font-family: "noto";
  padding: 0 5px;
  /* height: 50%; */
  color: rgb(45, 45, 45);
}
.prog div {
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  width: 250px;
  height: 220px;
  margin: 2%;
}
.homecomit h2 {
  font-size: 40px;
  margin: 50px 0px 0 0;
}
.homecomit p {
  font-size: 20px;
  margin: 0px 80px;
}
.homeuniq h2 {
  font-size: 40px;
  margin: 50px 0px 0 0;
}
.homeuniq p {
  font-size: 20px;
  margin: 0px 80px;
}
.roundworld {
  position: absolute;
  bottom: 0;
  left: 35%;
  background-color: rgb(12, 3, 177);
  font-size: 1.5em;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
  color: #eee;
}
.unityabjdiv {
  position: relative;
  height: 80vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("../components/images/Amarachi\ eze\,\ sweet\ potato.JPG");
  background-position: center;
  background-size: cover;
}

.zhe:hover {
  .dad {
    animation: movel 30s infinite;
  }
  .ceo {
    animation: mover 30s infinite;
  }
}
@keyframes movel {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(200px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes mover {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(0);
  }
}

/* home body */

/* sat */
tr {
  padding: 20px;
}
table tr {
  padding: 20px;
}

/* sat */

/* blog */
.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  place-items: center;
  display: grid;
  overflow: hidden;
  border-radius: 10px;
}
.slider::before,
.slider::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider::after {
  right: -10px;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 1) 100%
  );
}
.slide-track {
  display: flex;
  /* border: 1px solid red; */
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  display: flex;
  height: 200px;
  width: 250px;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide img {
  width: 100%;
  border-radius: 10px;
}
.slide img:hover {
  transform: translateZ(20px);
}

/* blog */

@media screen and (max-width: 701px) {
  .bigslider .list .bigitem .bigcontent .maintitle {
    font-size: 50px;
  }
  .line {
    border-bottom: none;
  }

  .homecomit p{
    font-size: 16px;
    margin: 0 20px;
    text-align: justify;
  }
  
  .homeuniq p{
    /* text-align: justify; */
    margin: 0 20px;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .bigslider .list .bigitem .bigcontent .maintitle {
    font-size: 30px;
  }
  .zhe{
    margin-top: 50px;
  }
  .countnum {
    span {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 14px;
  }
  .prog {
    width: 200px;
  }
  .homecomit h2{
    font-size: 30px;
  }
  .homecomit p{
    font-size: 14px;
    margin: 0 20px;
    text-align: justify;
  }
  .homeuniq h2{
    font-size: 30px;
  }
  .galhead{
    font-size: 30px;
  }
  .homeuniq p{
    /* text-align: justify; */
    margin: 0 20px;
    font-size: 14px;
  }
  .unityabjdiv{
    height: 50vh;
  }
  .roundworld{
    font-size: 14px;
  }
  .bot {
    display: none;
  }
  .program {
    display: none;
  }
  .logosection,
.contactjos {
  width: 100vw;
}
}
