@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* imported fonts */
@font-face {
  font-family: "Akaya";
  src: url("./components/fonts/Akaya_Telivigala/AkayaTelivigala-Regular.ttf");
}
@font-face {
  font-family: "Noto";
  src: url("./components/fonts/Noto_Serif/NotoSerif-Bold.ttf"),
    url("./components/fonts/Noto_Serif/NotoSerif-BoldItalic.ttf"),
    url("./components/fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: "Corinthia";
  src: url("./components/fonts/Corinthia/Corinthia-Bold.ttf");
}
@font-face {
  font-family: "Bree";
  src: url("./components/fonts/Bree_Serif/BreeSerif-Regular.ttf");
}
@font-face {
  font-family: "Courget";
  src: url("./components/fonts/Courgette/Courgette-Regular.ttf");
}

/* imported fonts */

.counts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin: 20px;
  border: 2px solid black;
  /* width: 100px; */
}

.homeCont {
  z-index: -1;
  color: rgb(82, 160, 4);
}
body {
  font-family: "Bree";
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.we p {
  /* color: red; */
  width: 40%;
  /* border-right: 2px solid rgb(0, 94, 255); */
  /* margin: 1%; */
  text-align: center;
}
.educ {
  /* border-bottom: 2px solid rgb(0, 94, 255); */
  margin-bottom: 40px;
}
.ins {
  border-left: 2px solid rgb(0, 94, 255);
  border-bottom: 2px solid rgb(0, 94, 255);
}
.mot {
  border-top: 2px solid rgb(0, 94, 255);

  border-right: 2px solid rgb(0, 94, 255);
}
.latestall {
  background-color: rgba(52, 51, 251, 0.3);
  padding-top: 30px;
}
.latest {
  display: flex;
  /* width: 100vw; */
  /* flex-direction: column; */
  padding: 0 30px 65px 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
.latestcon {
  position: relative;
  width: 32%;
  min-width: 220px;
  height: 40vh;
  overflow: hidden;
  margin: 5px;
}
.latestzoom {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
}
.one {
  background-image: linear-gradient(rgba(4, 63, 201, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/11.jpg"); /* Replace with your image path */
}
.two {
  background-image: linear-gradient(rgba(105, 248, 3, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/7.jpg"); /* Replace with your image path */
}
.three {
  background-image: linear-gradient(rgba(4, 63, 201, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/PLWD.JPG");
}
.four {
  background-image: linear-gradient(rgba(105, 248, 3, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/sat2.jpg");
}
.five {
  background-image: linear-gradient(rgba(4, 63, 201, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/akuya.jpg");
}
.six {
  background-image: linear-gradient(rgba(105, 248, 3, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/E2.jpg"); /* Replace with your image path */
}
.latestzoom:hover {
  transform: scale(1.1);
  .one {
    background-image: linear-gradient(
        rgba(185, 201, 4, 0.6),
        rgba(168, 167, 171, 0.7)
      ),
      url("./components/images/11.jpg");
  }
}
.latestTitle {
  position: absolute;
  bottom: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0;
}
.latestImage:hover {
  transform: scale(1.1);
}
.zhe {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* height: 50vh; */
  /* margin: 10px; */
  /* width: 90vw; */
}
.zhetext {
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}
.line {
  border-bottom: 4px solid rgb(0, 128, 255);
}
.dad:hover {
  transform: translateX(50px);
  transition: all 0.5s;
}
.ceo:hover {
  transform: translateX(50px);
  transition: all 0.5s;
}

/* home */

/* about */
/* About page */
.aboutAll {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.aboutFirst {
  height: 90vh;
  width: 100%;
  background-image: url("./components/images/about.jpg");
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 14px rgb(83, 83, 84);
  overflow: hidden;
  /* background-position: center; */
}
.aboutHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 60%;
  padding-left: 5vw;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(5, 32, 96, 0.9),
    rgba(1, 0, 8, 0.7)
  );
}
.aboutHeader h2 {
  font-size: 6vh;
  color: rgb(255, 255, 255);
  font-family: "Bree";
}
.aboutHeader p {
  font-size: 20px;
  padding-bottom: 0.8rem;
  font-family: "Courget", sans-serif;
}
.aboutSecond {
  /* height: 70vh; */
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: blue; */
  padding: 20px;
}
.aboutSeconds {
  display: flex;
  margin: 0vw 10vw;
  justify-content: center;
  /* padding-top: 30px; */
}
.whoweare {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  /* margin: 0px; */
  background-color: rgb(255, 255, 255);
}

.weareb {
  background-color: rgb(255, 255, 255);
  /* border-right: 2px solid rgb(171, 230, 242); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  min-width: 220px;
  position: relative;
  height: 52vh;
}
.weareb:hover {
  color: rgb(41, 162, 179);
  border: 1px solid rgb(41, 162, 179);
}
.weareb img {
  width: 120px;
  height: 40%;
  /* position: absolute; */
  /* top: 0; */
}
.weareb p {
  height: 50%;
  text-align: center;
  padding: 5px;
}
.whoweare p:hover {
  /* background-color: rgb(17, 0, 255); */
  /* border-radius: 20px; */
  /* padding: 10px; */
  display: flex;
  align-items: center;
  overflow: hidden;
}
.we {
  font-size: 50px;
  font-family: Courget;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: rotate 3s ease-out infinite;
}
.histP {
  margin: 2%;
  font-size: 1.2em;
  color: rgb(8, 101, 250);
}
.aboutSeconda {
  align-items: center;
  text-align: justify;
}
.aboutSecondb {
  width: 45%;
  /* background-color: blue; */
  position: relative;
  /* border: 1px solid black; */
  overflow: hidden;
}
.weare {
  height: 90vh;
  /* background-color: royalblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 5vw; */
  flex-wrap: wrap;
  width: 100%;
}
.weone {
  background-image: url("./components/images/11.jpg");
  width: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  margin-bottom: 25px;
}
.wetwo {
  background-image: url("./components/images/Artboard\ 1.jpg");
  width: 45%;
  /* border: 1px solid red; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
}
.wethree {
  /* border: 1px solid red; */
  margin-bottom: 25px;
  background-image: url("./components/images/collab.jpg");
  width: 45%;
  /* border: 1px solid red; */
  background-position: center;
  background-repeat: no-repeat;
  height: 40%;
  background-size: cover;
}
.wefour {
  height: 40%;
  background-image: url("./components/images/educate.jpg");
  width: 45%;
  /* border: 1px solid red; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ourprio {
  height: 60vh;
  background-image: linear-gradient(rgba(8, 60, 182, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/lagosHouse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.ourprio:hover {
  align-items: flex-start;
  background-image: url("./components/images/ati.jpg");
  .visionspan {
    color: red;
  }
  .vision {
    color: #2c3b03;
    width: 70%;
    text-shadow: 1px 1px 4px #b6e634;
  }
}
.vision {
  font-size: 2.3em;
  text-align: center;
  color: #fff;
  font-family: "akaya";
}
.visionspan {
  color: blue;
  font-size: 2em;
  font-weight: bold;
}
.thirdabout {
  /* height: 80vh; */
  background-color: rgb(1, 13, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vw;
}
.thirdabout:hover {
  .thirdcont {
    background-color: #03718d;
  }
}
.thirdcont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid #af0b0b; */
  justify-content: center;
  padding-bottom: 50px;
  border-radius: 20px;
}
.thirdeach {
  position: relative;
  height: 400px;
  flex-wrap: wrap;
  display: flex;
  transition: all 0.4s;
  justify-content: center;
  margin: 10px;
}
.thirdeach:hover {
  transform: scale(1.03);
  .thirdeach2 {
    background-color: rgb(245, 249, 249);
  }
  .thirdeach2 p {
    color: black;
  }
}
.thirdeachimg {
  width: 220px;
  height: 200px;
  z-index: 2;
  border-radius: 10px;
  margin-bottom: 10px;
}
.thirdeach2 {
  border: 3px solid #fff;
  height: 250px;
  width: 90%;
  background-color: rgb(1, 13, 50);
  /* margin-top: 50px; */
  position: absolute;
  bottom: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgez {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/retreat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.imgez2 {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/akuya.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.imgez3 {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/11.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.imgez4 {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/girls.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.imgez5 {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/josoff.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.imgez6 {
  width: 220px;
  height: 200px;

  background-image: url("./components/images/educate.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.thirdeach2 p {
  color: #fff;
  padding: 0 5px;
  text-align: center;
}
.thirdeach2 .t1 {
  text-decoration: underline;
  color: #34e6d1;
  font-size: 13px;
  font-weight: bold;
}
.thirdeach2 .t2 {
  font-size: 12px;
}
.thirdeach2 .t3 {
  text-decoration: overline;
}

.forthabout {
  height: 60vh;
  background-image: linear-gradient(rgba(8, 60, 182, 0.6), rgba(1, 0, 8, 0.7)),
    url("./components/images/road.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.forthabout:hover {
  align-items: end;
  background-image: url("./components/images/liz.jpg");
  .visionspan {
    color: red;
    font-weight: bolder;
  }
  .vision {
    color: #110e11;
    width: 70%;
    text-shadow: 1px 1px 4px #b6e634;
  }
}
.aboutthird {
  height: 40vh;
  margin: 30px 0;
  padding: 20px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 254, 254, 0.9)
    ),
    url("./components/images//ppbk.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutthird:hover {
  align-items: start;
  background-image: url("./components/images/cmh2.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  .build {
    width: 50%;
    /* border: 1px solid rgb(85, 255, 0); */
  }
  /* bac */
}
.aboutthird p {
  /* border: 1px solid red; */
  padding: 10px;
  color: rgb(3, 3, 123);
  font-size: 1.1rem;
  text-align: center;
  font-family: "Bree";
  width: 70%;
}
.aboutforth {
  /* padding: 20px; */
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
}
.partcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  /* border: 1px solid red; */
}
.partner {
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 40px 0;
}
.partner .corp {
  font-size: 32px;
  color: #03718d;
  margin-bottom: 10px;
  text-align: center;
}
.partner p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: justify;
}
/* .partsec{
  width: 70%;
} */
.tdtop {
  /* background-image: linear-gradient(rgba(5, 32, 96, 0.9), rgba(1, 0, 8, 0.9)),
    url("./components/images/images\ \(69\).jpeg"); */
  height: 20vh;
  padding: 20px;
  position: relative;
}
.tdtop h1 {
  color: #04f7ff;
  text-align: center;
  font-family: "courget";
  font-size: 30px;
  position: absolute;
  bottom: 50px;
  width: 60%;
  right: 0;
  /* animation: rotate 3s ease-out infinite; */
}
.tdtop img {
  width: 100px;
  animation: App-logo-spin 3s ease-out infinite;
  position: absolute;
  top: 20%;
}
.tddn {
  height: 30vw;
  position: absolute;
  top: 6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tddn h2 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.7rem;
  font-family: "Bree";
}
.doing {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85%;
  padding: 0 3vw;
}
.do {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  box-shadow: 1px 1px 14px rgb(2, 2, 117);
  border-radius: 3vw;
  overflow: hidden;
}
.do img {
  border-radius: 3vw;
  width: 100%;
  height: 18vw;
}
.do p {
  /* border: 1px solid black; */
  padding: 1px;
  text-align: center;
  color: rgb(4, 2, 99);
  /* font-weight: 600; */
}
.pSmall {
  font-size: 0.7em;
}
.parteach {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  /* border: 1px solid red; */
}
.parteach img {
  width: 120px;
  margin: 10px;
}
.parteach img:hover {
  border-bottom: 2px solid rgb(0, 174, 255);
  cursor: pointer;
}

/* about page  */

/* contact */
.contactHeader {
  height: 90vh;
  background-image: url("./components/images/Artboard\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 14px rgb(83, 83, 84);
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lagJos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 88vw;
  justify-content: center;
  margin: 6vw 0;
  flex-wrap: wrap;
}
.lagos {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 9px rgba(1, 0, 8, 0.7);
  padding-bottom: 10px;
  max-width: 350px;
  min-width: 200px;
  margin: 0 10px 40px 10px;
}
.abuja {
  padding-bottom: 10px;
  box-shadow: 0px 0px 9px rgba(1, 0, 8, 0.7);
  max-width: 350px;
  min-width: 200px;
  margin: 0 10px 40px 10px;
}
.jos {
  padding-bottom: 10px;
  max-width: 350px;
  min-width: 200px;
  box-shadow: 0px 0px 9px rgba(1, 0, 8, 0.7);
  margin: 0 10px 40px 10px;
}
.lagtext {
  flex-wrap: wrap;
  /* width: 40vw; */
  text-align: center;
}
.abujatext {
  flex-wrap: wrap;
  /* width: 40vw; */
  text-align: center;
}
.jostext {
  text-align: center;
  flex-wrap: wrap;
  /* width: 40vw; */
}

/* blog */
.blogtop {
  background-image: linear-gradient(
      rgba(97, 94, 94, 0.5),
      rgba(115, 115, 115, 0.7)
    ),
    url("./components/images/retreat.jpg");
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 60px 0;
}
.blogtop p {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "akaya";
}
.blogeach {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 50px 20px;
}
.imgba {
  background-image: url("./components/images/11.jpg");
  height: 60vh;
  width: 90%;
  background-position: center;
  background-size: cover;
  border: 2px solid rgb(255, 217, 164);
}
.imgbb {
  /* background-color: ; */
  border: 2px solid rgb(255, 217, 164);
  height: 30vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogcont {
  font-size: 30px;
  padding-bottom: 30px;
  color: #545354;
  /* line-height: 70px; */
}
.blogha {
  font-size: 22px;
}
.bloghb {
  font-size: 15px;
}

/* blog */

/* sat */
.satCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.satlabel {
  display: flex;
  width: 100vw;
  /* border: 1px solid red; */
  box-shadow: 0 0 6px;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.satlabel a {
  list-style-type: none;
  color: #03718d;
  padding: 5px;
  font-size: 1.2em;
}
.sath {
  background-image: url("./components/images/sat1.jpg");
  height: 40vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.satdiv {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.satdates {
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.satdates table {
  border: 2px solid rgb(34, 127, 139);
  width: 300px;
  /* height: 250px; */
}
.satCon {
  color: #88a;
}

th {
  border-bottom: 1px solid black;
}

td {
  margin: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid rgb(34, 127, 139);
  text-align: justify;
}

.antidate {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.anticiatedDate li {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  list-style-type: none;
  box-shadow: 0px 0px 9px #aaa;
  width: 105px;
  /* padding: 5px; */
  margin: 10px;
  text-align: center;
  height: 50px;
  border-radius: 50px;
}
.acth {
  background-image: url("./components/images/sat2.jpg");
  height: 40vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  /* border: 2px solid rgb(255, 217, 164); */
}
.act {
  margin: 20px 0;
  border: 1px solid green;
  width: 100vw;
  overflow: hidden;
}
.actimg {
  height: 130px;
  background-size: contain;
  width: 100%;
  background: #fff url("./components/images/acts.png") no-repeat center;
}
.actbody {
  margin: 30px 20px;
  box-shadow: 0 0 9px;
  padding: 15px;
}
.actlist {
  list-style-type: none;
  margin: 5px;
}
.satAll {
  width: 90vw;
  /* border: 1px solid red; */
  box-shadow: 0px 0px 9px rgb(146, 146, 207);
  margin: 0 0 30px 0;
}
.toefl {
  width: 100vw;
  overflow: hidden;
}
.toeflimg {
  height: 130px;
  width: 100%;
  background: #fff url("./components/images/TOEFL_Logo.svg.png") no-repeat
    center;
  background-size: contain;
}
.toeflbody,
.ieltbody,
.grebody,
.gmatbody {
  margin: 30px 20px;
  box-shadow: 0 0 9px;
  padding: 15px 20px 30px 20px;
}
.ieltimage {
  height: 130px;
  width: 100%;
  background: #fff url("./components/images/IELTS-EXAM-FEES-IN-INDIA.jpg.webp")
    no-repeat center;
  background-size: contain;
  padding-bottom: 40px;
  margin: 20px;
}
.greimage {
  height: 130px;
  width: 100%;
  background: #fff url("./components/images/gre.jpeg") no-repeat center;
  background-size: contain;
}
.gmatimage {
  height: 130px;
  width: 100%;
  background: #fff url("./components/images/gmat.png") no-repeat center;
  background-size: contain;
}

/* sat */

/* contact */
@media screen and (max-width: 800px) {
  .zhetext {
    font-size: 20px;
  }
}
@media screen and (max-width: 701px) {
  .vision {
    font-size: 1.8em;
  }
  .weare {
    display: none;
  }
  .zhetext {
    font-size: 16px;
  }
  .latestcon {
    min-width: 280px;
  }
  .aboutthird p {
    font-size: 30px;
  }
   .ourprio:hover {
    background-position: calc(100% + 100px) calc(100% - 0px);
  }
  .forthabout:hover {
    background-position: calc(100% + 280px) calc(100% - 0px);
  }
}


@media screen and (max-width: 480px) {
  p {
    font-size: 13px;
  }
  .dad {
    display: none;
  }
  .ceo {
    display: none;
  }
  .zhetext {
    font-size: 14px;
    width: 100%;
  }
  .zhe {
    margin: 30px;
  }
  .aboutthird p {
    font-size: 20px;
  }
  .forthabout:hover {
    .vision {
      font-size: 25px;
    }
  }
  .partner p {
    font-size: 16px;
  }
  .aboutAll {
    overflow-x: hidden;
  }
  .satdiv {
    font-family: "Times New Roman", Times, serif;
  }
  table {
    font-size: 12px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .anticiatedDate li {
    font-size: 12px;
    width: 80px;
  }
  .satull {
    font-size: 12px;
  }
  .actlist {
    font-size: 12px;
  }
  .actbody {
    font-family: "Times New Roman", Times, serif;
  }
  .toeflbody {
    font-family: "Times New Roman", Times, serif;
  }
  .aboutFirst {
    background-image: url("./components/images/unityAbj.jpg");
  }
  .aboutHeader h2 {
    font-size: 4vh;
  }
  .aboutHeader {
    width: 100%;
  }
  .ourprio:hover {
    background-position: calc(100% + 100px) calc(100% - 0px);
  }
  .forthabout:hover {
    background-position: calc(100% + 450px) calc(100% - 0px);
  }
}
